/* src/styles.css */
body {
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

h1, h2, h3 {
  color: #2c3e50;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

h2 {
  margin-top: 20px;
}

.container {
  padding: 20px;
}

form div {
  margin-bottom: 10px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
